nav{
    position: sticky;
    top: 0;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;

}

nav h1{
    font-size: 1.5rem;
}

nav img{
    width: 40px; height: 40px;
}

nav .nav-list{
    position: fixed;
    display: none;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #8d99aea5;
    backdrop-filter: blur(10px);
    top: 100px;
    width: 300px;
    right: 0;
    height: calc(100vh - 100px);
    padding: 2rem;
    z-index: 1000;
}

nav ul li{
    text-align: center;
    list-style: none;
    font-weight: 600;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    transition: all 300ms ease-in-out;
}

nav ul li a:hover{
    color: #000;
}

.menu-icon {
  width: 32px;
  cursor: pointer;
}

/* Oculto por defecto */
.nav-list.open{
    display: grid;
}