body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background-color: #8d99aea5;
    backdrop-filter: blur(10px);
}

.container{
    max-width: 1240px;
    width: 100%;
    margin: auto;
}